/* Fix text direction for messages and text inputs */
p,
.post p, .post-message__text,
.post-message__text h1,
.post-message__text h2,
.post-message__text h3,
.post-message__text h4,
.post-message__text h5,
.post-message__text h6,
.channel-header__info .channel-header__description,
.channel-header .heading,
.post .post__header .col__name .user-popover,
.post .post__link .theme,
#post_textbox, #edit_textbox, #reply_textbox, #searchBox,
.SidebarChannelLinkLabel
{
    unicode-bidi: plaintext;
}

ul.markdown__list {
    padding-inline-start: 22px !important;
    padding-inline-end: 0 !important;
}
ol.markdown__list {
    display: block !important;
}
ol.markdown__list > li {
    display: block !important;
}
ol.markdown__list > li::before {
    display: inline !important;
    padding: 0 5px !important;
}

/* Fix text direction for inline codes */
code {
    unicode-bidi: plaintext;
}


/* For Mattermost >= 5.34 */
.post-message__text, .form-control {
    text-align: initial;
}
.channel-header__description {
    direction: ltr;
}
.channel-header__description .header-description__text p {
    unicode-bidi: plaintext;
}
